// debug 用
// * {
//   outline: 1px solid green;
// }

.break-line {
  display: block;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.col-lg-300 {
  @include media-breakpoint-up(lg) {
    min-width: 300px;
  }
}
