// debug 用
// * {
//   outline: 1px solid green;
// }

.text__break-line--sm-only {
  display: block;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.form__col--lg {
  @include media-breakpoint-up(lg) {
    min-width: 300px;
  }
}
