<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="../assets/images/00_navBar_logo.svg" alt="職旅 Workway LOGO" />
    </a>

    <a
      class="text-decoration-none order-lg-2 d-flex align-items-center ms-auto"
      href="#"
    >
      <img
        src="../assets/images/00_navBar_avatar.png"
        alt="會員頭像"
        class="rounded-circle border border-1 border-natural-85"
        style="width: 44px; height: 44px"
      />
      <span class="text-black ms-2">Mokumaru</span>
    </a>

    <button
      class="navbar-toggler border-0 ms-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link px-6 text-black" href="service.html">服務方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-6 text-black ms-3" href="about.html"
            >關於職旅</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-6 text-black ms-3" href="contact.html"
            >聯絡我們</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
