legend {
  font-size: 1rem;
}

.form-floating {
  > label {
    color: $natural-50;
  }

  > input:placeholder-shown:not(:focus) ~ label,
  > textarea:placeholder-shown:not(:focus) ~ label {
    color: $black;
  }
}

.form-check-inline {
  margin-right: 1rem;

  @include media-breakpoint-up(xl) {
    margin-right: 1.5rem;
  }
}

textarea {
  resize: none;
}
